<div class="titlediv container-fluid m-0 p-0 position-absolute">
    <span class="account_buttons float-end m-3">
        <button class="login fw-bold">Log In</button>
        <button class="signup fw-bold">Sign Up</button>
    </span>
    <div class="titletext text-light position-relative top-50 start-50 translate-middle">
        <h1 class="fw-bold">FabLab</h1>
        <p class="d-flex justify-content-evenly">FabLab Bicol is a business located on Bicol University East Campus that
        offers services for product consultation, 3D scanning and printing, printing and cutting, and embroidery. The
        FabLab Web Application allows you to view the availability of appointments and reserve them. This web-based
        technology allows, you, our beloved customers, to be able to set appointments remotely through your own computers
        to provide you with a highly convenient and accessible appointment medium.
        </p>
    </div>
    <div class="position-absolute top-100 start-50 translate-middle">
        <button class="reqbutton fw-bold">Request an Appointment</button>
    </div>
</div>
