<div class="appointment-card card d-inline-block mb-4">
  <div class="card-body text-center">
    <p class="m-0">Date and Time</p>
    <h5 class="card-title mb-4"><%= appointment.datetime %></h5>
    <p class="card-subtitle text-muted">Service Availed</p>
    <h5 class="card-title mb-4"><%= appointment.service %></h5>
    <p class="card-text"><%= appointment.purpose %></p>
  </div>
  <div class="card-footer text-muted">
    <p class="card-subtitle text-muted">Status</p>
    <h5 class="card-title"><%= appointment.status %></h5>
  </div>
</div>