<div class="container-fluid position-fixed vh-100 p-0 float-left">
  <%= render "navbar" %>
</div>

<div class="dashboard-content float-right pt-4" id="dashboard-content" style="height: 100%;">
  <%= turbo_frame_tag "dashboard_content", target: "_top", src: params[:src].present? ? params[:src] : pending_path %>
</div>
