<!-- render sidebar partial -->
<div class="float-left">
    <div class="container-fluid position-fixed vh-100 p-0">
        <%= render "sidebar" %>
    </div>  

    <div class="dashboard-buttons vstack container-fluid position-fixed p-0" style="bottom: 9em">
        <button>My Appointments</button>
        <button>Request an Appointment</button>
    </div>
</div>

<div class="dashboard-content bg-primary float-right">
    
</div>

