<%= turbo_frame_tag "dashboard_content" do %>
  <h1 class="m-4 fw-bold">My Appointments</h1>
  <% if @appointment.present? %>
    <%= render "pending_appointment" %>
  <% else %>
    <h4 class="m-4">You do not have any pending appointments.</h4>
  <% end %>

  <%= link_to "Show Appointment History", history_path, class: "history-button rounded-0 position-absolute bottom-0 end-0 m-4", data: { turbo_frame: "dashboard_content" } %>
<% end %>