<div class="position-relative">
  <form class="g-3 my-forms fw-bold position-absolute top-0 start-50 translate-middle-x">
      <div class="col-auto">
        <label for="inline-form-name">Username</label> 
        <input type="text" class="form-control" id="inline-form-name">
      </div>

      <div class="col-auto">
        <label for="inline-form-name">Password</label> 
        <input type="password" class="form-control" id="inline-form-name">
      </div>

      <div class="text-center">
        <button type="Submit" class="li-button btn btn-primary px-5 py-3 m-3">Log in</button>
        <div>
          <a href="" class="fw-normal">Forgot your password?</a>
          <a href="" class="fw-normal">Create New Account</a>
        </div>
      </div>
  </form>
</div>