<div class="position-relative">
  <%= form_with(model: Customer, url: "/login", class: "g-3 my-forms fw-bold position-absolute top-0 start-50 translate-middle-x") do |form| %>
      <div class="col-auto">
        <label for="inline-form-name">Username</label>
        <%= form.text_field :username, class: "form-control" %>
      </div>

      <div class="col-auto">
        <label for="inline-form-name">Password</label>
        <%= form.password_field :password, class: "form-control" %>
      </div>

      <div class="text-center">
        <%= form.submit "Log in", class: "li-button btn btn-primary px-5 py-3 m-3" %>
        <div>
          <a href="" class="fw-normal">Forgot your password?</a>
          <a href="" class="fw-normal">Create New Account</a>
        </div>
      </div>
  <% end %>
</div>