<div class="position-relative">
  <form class="my-forms g-3 fw-bold position-absolute top-0 start-50 translate-middle-x">
    <div class="row">
      <div class="col-auto">
        <label for="inline-form-name">First name</label> 
        <input type="text" class="form-control" id="inline-form-name">
      </div>
      <div class="col-auto">
        <label for="inline-form-name">Last name</label> 
        <input type="text" class="form-control" id="inline-form-name">
      </div>
    </div>

      <div class="col-auto">
        <label for="inline-form-name">Email</label> 
        <input type="text" class="form-control" id="inline-form-name">
      </div>

      
      <div class="row">
        <div class="col-auto">
          <label for="inline-form-name">Contact no.</label> 
          <input type="text" class="form-control" id="inline-form-name">
        </div>
        <div class="col-auto">
        </div>
      </div>

      <div class="row">
        <div class="col-auto">
          <label for="inline-form-name">Username</label> 
          <input type="text" class="form-control" id="inline-form-name">
        </div>
        <div class="col-auto">
        </div>
      </div>

      <div class="m-0 pass_cpass">
        <div class="row">
          <div class="col-auto">
            <label for="inline-form-name">Password</label> 
            <input type="password" class="form-control" id="inline-form-name">
          </div>
          <div class="col-auto">
          </div>
        </div>

        <div class="row">
          <div class="col-auto">
            <label for="inline-form-name">Confirm Password</label> 
            <input type="password" class="form-control" id="inline-form-name">
          </div>
          <div class="col-auto">
          </div>
        </div>
      </div>
      <p>
      <div class="text-center">
        <button type="Submit" class="ca-button btn btn-primary p-3">Create Account</button>
        <div class="mt-2">
          <button type="Reset" class="col-auto mx-1 btn btn-secondary">Reset</button>
          <button type="Reset" class="col-auto mx-1 btn btn-danger">Close</button>
        </div>
      </div>
  </form>
</div>