/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";

  body {
    background: #fefcfb;
  }

  .titlediv {
    background-image: linear-gradient(#0a1128, #001f54, #034078);
    height: 80%;
  }

  .account_buttons button {
    width: 6em;
    height: 2.5em;
    border-radius: 30px;
  }

  .login {
    background-color: #ffffff;
    color: #0a1128;
    border: 2px solid #ffffff;
  }

  .account_buttons button:hover {
    box-shadow: 1px 1px 10px #ffffff;
    transition-duration: 0.2s;
  }

  .signup {
    background-color: #0a1128;
    color: #ffffff;
    border: 2px solid #ffffff;
  }

  .titletext {
    width: 70%;
  }

  .titletext h1 {
    font-family: tahoma;
    font-size: 8em;
  }

  .titletext p {
    font-family: microsoft yahei;
    font-size: 1.2em;
  }

  .reqbutton {
    padding: 1.5em 2em;
    background-color: #1282a2;
    color: #0a1128;
    border-radius: 10px;
    border: none;
    text-decoration: none;
    font-family: microsoft yahei;
  }

  .reqbutton:hover {
    color: #ffffff;
    background-color: #0a1128;
    border: none;
    transition-duration: 0.2s;
    box-shadow: 1px 1px 10px #0a1128;
  }

  .my-forms{
    color:#034078;
  }
  .my-forms input{
    border: 2px solid #034078;
  }
  .my-forms a{
    color:#001f54;
  }

  .ca-button{
    background-color: #001f54;
    border: none;
  }

  .li-button{
    background-color: #001f54;
    border: none;
  }

  .login-modal {
    height: 20em;
  }

  .signup-modal {
    height: 30em;
  }

  .pass_cpass{
    width: 50%;
    float: left;
  }

  .signup_buttons{
    width: 50%; 
    float: right;
  }

  .user-dropdown{
    background-color: transparent;
    border: none;
  }

  .user-dropdown:hover{
    border-bottom: 0.2em solid #ffffff;
    font-weight: bold;
    transition-duration: 0.2s;
  }

  .sidebar{
    z-index: 1;
    background-image: linear-gradient(to right, #0a1128, #001f54);
    height: 100;
    width: 30%;
  }

  .sidebar h1{
    //font-family: 'Noto Serif Gujarati', serif;
    font-family: Tahoma;
    font-size: 5em;
  }

  .sidebar h1:hover{
    text-shadow: 1px 1px 5px #ffffff;
    transition-duration: 0.2s;
  }

  .user-log{
    font-family: Microsoft Yahei;
  }
  .sidebar .logout{
    font-size: 0.8em;
  }

  .welcome-user {
    color: #1282a2;
    font-size: 1.2em;
  }

  .dashboard-buttons{
    z-index: 1;
    width: 30%;
  }

  .dashboard-buttons button{
    height: 4em;
    width: 100%;
    border: none;
    margin-bottom: 0.3em;
    background-color: #001f54;
    color: white;
  }

  .dashboard-buttons button:hover{
    background: linear-gradient(to left, #ffffff 50%, #001f54 50%) right;
    background-size: 200% 100%;
    color: #0a1128;
    font-weight: bold;
    //text-shadow: 1px 1px 1px #0a1128;
    border: none;
    transition-duration: 0.3s;
  }

  .dashboard-content{
    padding-left: 30%
  }

  .dashboard-content h1{
    font-family: Tahoma;
    color: #0a1128
  }

  .pending-card{
    background: #1282a2;
    z-index: -1;
  }

  .pending-title{
    background: #0a1128;
  }

  .pending-info{
    height: 15em;
  }

  .appointment-history{
    overflow: hidden;
  }

  .ah-title{
    background-color: #0a1128;
    color: #ffffff;
  }

  .ah-head{
    background-color: #1282a2;
    color: #ffffff;
  }

  .ah{
    overflow: hidden;
  }

  .appointment-card{
    background-image: linear-gradient(#001f54, #1282a2);
  }
