/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";

  .titlediv {
    background-image: linear-gradient(#0a1128, #001f54, #034078);
    height: 80%;
  }

  .account_buttons button {
    width: 100px;
    height: 40px;
    border-radius: 30px;
  }

  .login {
    background-color: #ffffff;
    color: #0a1128;
    border: 2px solid #ffffff;
  }

  .titlediv button:hover {
    box-shadow: 1px 1px 10px #ffffff;
    transition-duration: 0.2s;
  }

  .signup {
    background-color: #0a1128;
    color: #ffffff;
    border: 2px solid #ffffff;
  }

  .titletext {
    width: 70%;
  }

  .titletext h1 {
    font-family: tahoma;
    font-size: 8em;
  }

  .titletext p {
    font-family: microsoft yahei;
    font-size: 1.2em;
  }

  .reqbutton {
    padding: 1.5em 2em;
    background-color: #1282a2;
    color: #0a1128;
    border-radius: 10px;
    border: none;
    font-family: microsoft yahei;
  }

  .reqbutton:hover {
    color: #ffffff;
    background-color: #0a1128;
    border: none;
    transition-duration: 0.2s;
    box-shadow: 1px 1px 10px #0a1128;
  }

  .my-forms{
    color:#034078;
  }
  .my-forms input{
    border: 2px solid #034078;
  }
  .my-forms a{
    color:#001f54;
  }

  .ca-button{
    background-color: #001f54;
    border: none;
  }

  .li-button{
    background-color: #001f54;
    border: none;
  }

  .login-modal {
    height: 20em;
  }

  .signup-modal {
    height: 30em;
  }

  .pass_cpass{
    width: 50%;
    float: left;
  }

  .signup_buttons{
    width: 50%; 
    float: right;
  }